.Header {
    padding: 16px 0 16px 0;
    border-bottom: solid 1px #505050;
}

.SearchAdd {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 42px 0 42px 0;
}

.form-control {
    color: #fff;
    background-color: #505050;
    border: 1px solid #0E0E0E;
    width: auto;
    max-width: 250px;
    min-height: 50px;
    border-radius: 8px;
    margin-right: 5px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.btn-outline-dark {
    color: #fff;
    /* teste */
}


