* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #283056;
    width: 100%;
    max-width: 1335px;
    margin: auto;
    padding: 0 3rem 0 2rem;
}

button {
    border: none;
    background: none;
}

.allCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 1.5rem;
    margin: auto;
    margin-bottom: 2.7rem;
}

.a_card {
    text-decoration: none;
    transition: all 0.3s;
}

.a_card:hover {
    transform: scale(1.03);
}


.card {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #fff;
    width: 14rem;
    height: 23rem;
    background: #141420;
    border-radius: 0.6rem;
}

.bgImage {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    max-width: 11rem;
    height: 15rem;
}
  
.card img {
border: solid #000 4px;
width: 10rem;
height: 14rem;
object-fit: cover;
}

.card .infoCard {
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.infoCard h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.formModal {
    background-color: #283056;
    color: #fff;
    border-radius: 5px;
}

.form-control .form{
    color: #fff;
    background-color: #562828;
    border: 1px solid #141420;
    width: auto;
    max-width: 250px;
    min-height: 50px;
    border-radius: 8px;
    margin-right: 5px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}